/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Main Grid Layout */
.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "menu pbody pbody"
    "footer footer footer";
  grid-template-rows: 90px 1fr 50px;
  grid-template-columns: 220px 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

/* ================= HEADER ================= */
.header {
  grid-area: header;
  background: #833f41; /* Dark Blue */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header h1 {
  font-size: 22px;
  letter-spacing: 1px;
}

/* Header Buttons */
.header-actions {
  display: flex;
  gap: 12px;
}

.nav-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn {
  background: white;
  color: #b3666b;
}

.signup-btn {
  background: #723838;
  color: white;
}

.nav-btn:hover {
  opacity: 0.85;
}

/* ================= SIDEBAR MENU ================= */
.menu {
  grid-area: menu;
  background: #102a43;
  color: white;
  padding: 20px;
}

.menu h3 {
  margin-bottom: 15px;
  border-bottom: 1px solid #4fc3f7;
  padding-bottom: 8px;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  padding: 10px;
  margin-bottom: 8px;
  background: #5e2c34;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.menu ul li:hover {
  background: #7a3838;
}

/* ================= PAGE BODY ================= */
.pbody {
  grid-area: pbody;
  background: #e3f2fd;
  padding: 25px;
}

.pbody h2 {
  color: #784747;
  margin-bottom: 10px;
}

/* ================= FOOTER ================= */
.footer {
  grid-area: footer;
  background: #6d3537;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
/* ===== AUTH BODY CENTERING ===== */
.auth-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ===== AUTH CARD ===== */
.auth-container {
  background: white;
  padding: 30px;
  width: 360px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.auth-container h2 {
  text-align: center;
  color: #7d4444;
  margin-bottom: 20px;
}

/* ===== FORM ===== */
.auth-form input,
.auth-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-btn {
  width: 100%;
  padding: 10px;
  background: #853d49;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.auth-btn:hover {
  background: #67323c;
}

/* ===== SWITCH TEXT ===== */
.switch-auth {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.switch-auth span {
  color: #8f3737;
  font-weight: bold;
  cursor: pointer;
}